/*-- scss:defaults --*/
$layout-breakpoint-small: 960px;

/*-- scss:rules --*/
lottie-player#houses {
  width: 800px; 
  height: 400px; 
  position: absolute; 
  right: -50px; 
  bottom: 30%;
}

@media (min-width: $layout-breakpoint-small) {
  lottie-player#houses {
    width: 500px; 
    position: absolute; 
    right: -50px; 
    bottom: 20%;
  }
}

.ground {
  width: 100%;
  height: 35%;
  background-color: #4169ed;
  position: absolute;
  bottom: 0;
}

span.relevant {
  border-bottom: 3.3px solid $orange;
}

.important-text {
  font-family: "Yanone Kaffeesatz";
  color: #f05522;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}

.sponso {
  display: inline;
  font-size: 11px;
}

.reveal .slide-logo {
  top: 0;
}

.reveal .slides section .fragment {
  opacity: 0;
  visibility: hidden;
  /*transition: all 3s ease !important;*/
  transition: all 2s ease !important;
  will-change: opacity;
}

.reveal .slides section .fragment.fade-left {
  transform: translate(100%, 0);
}

.footer strong {
  color: white;
  font-weight: 600;
}

.footer {
  color: white !important;
}

.footer a {
  color: #f05522 !important;
  background: white !important;
  padding: 6px !important;
  border-radius: 6px !important ;
}